@function rv($px) {
  @return ($px / 3.6 + vw);
}
$inner-left-padding: rv(22);

.main {
  padding: rv(17) rv(32);
  background-color: #f9f9f9;
  line-height: rv(24);
  min-height: 100vh;
}

.name {
  font-size: rv(26);
  margin-left: $inner-left-padding;
  margin-bottom: rv(6);
}

.category {
  display: inline-block;
  font-size: rv(14);
  opacity: 0.5;
  margin-left: $inner-left-padding;
  margin-bottom: rv(18);
}

.imageContainer {
  margin-bottom: rv(10);

  .image {
    border-radius: rv(16);
    height: rv(200);
    width: 100%;
    display: block;
  }

  p {
    text-align: right;
    padding-top: rv(8);
    line-height: rv(16);

    a {
      font-size: rv(10);
      opacity: 0.33;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 50%;
      display: inline-block;
      cursor: pointer;
    }
  }
}

// TODO: AFTER
.menu {
  font-size: rv(14);
  margin-bottom: rv(12);
  li {
    margin-left: rv(11);
    padding: 0 rv(11);
    display: inline-block;
  }

  .clicked {
    color: #0cbc7b;
    font-weight: 700;
  }
}

.infoCardContainer {
  width: 100%;

  .infoCard {
    margin: rv(8) 0;
    padding: rv(26) rv(22);
    border-radius: rv(16);
    background-color: #fff;

    .infoHeading {
      font-size: rv(16);
      font-weight: 700;
    }

    .infoContent {
      margin-top: rv(10);
      font-size: rv(14);
      line-height: rv(23);
      vertical-align: bottom;
      font-weight: 400;
      opacity: 0.9;
    }
  }
}
